*{
    box-sizing: border-box;
}

body{
    /* background-color: cornflowerblue; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    margin:0;
    border:1px solid  blue;
   
}

.main-container{
    border:1px solid red;
    width: 30rem;
    
    position: relative;
    overflow: visible;
}
.figure-container{
  
    padding: 2rem 0 0 1rem;
    width: 100%;
    height: 300px;
    overflow:visible;
    background-color: rgb(207, 182, 182);
    stroke:rgb(72, 157, 206);
    stroke-width: 3px;
    stroke-linecap: round;
    fill: transparent;
    margin-bottom: 30px;
     
}



.wrong-letters-container{
    border:2px solid blue;
    position: absolute;
    top:0;
    right:0;
    height: fit-content;
    padding: 0;
   
}

.wrong-header{
    margin-block-start: 0;
    margin-block-end: 0.2rem;
}

#wrong{
    text-align: center;
    margin-block-start: 0.5rem;

}

.word{
    display: flex;
    position:absolute;
    left:50%; 
    bottom:0;
    margin-bottom: 5px;
    transform: translateX(-50%);

}

.letters{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    
    border-bottom: 3px solid green;
    font-size:1.5rem;
    margin:0 3px;
}

.partOfFigure{
    display:none;
}

.final-message-container{
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
   display: grid;
   place-items: center;
    

}

.small-container{
    border:1px solid blue;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 20px;
    color: floralwhite;
  
}


